{% extends "layouts/main.twig" %}

{% block title %}Register{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form class="card" method="post" action="/auth/register">
                <div class="card-body">
                    {% include 'parts/alert.twig' %}
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" required name="name" />
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" required name="email" />
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" required name="password" />
                    </div>
                    <div class="form-group">
                        <label for="">Password Confirmation</label>
                        <input type="password" class="form-control" required name="password_confirmation" />
                    </div>
                    <div class="form-group">
                        <label for="">Location</label>
                        <select name="location_id" id="" class="form-control">
                            {% for location in locations %}
                                <option value="{{ location.id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"> login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}