{% if session.errors %}
    <div class="alert alert-danger" role="alert">
        {% for errro in session.errors %}
            <li> {{ errro }}</li>
        {% endfor %}
    </div>
{% endif %}
{% if session.success %}
    <div class="alert alert-success" role="alert">
        {{ session.success }}
    </div>
{% endif %}